In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df = pd.read_csv("../Data/indian_liver_patient.csv")
print("Initial shape:", df.shape)
print(df.info())
df.head()

Initial shape: (583, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB
None

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [3]:
z_scores = np.abs(stats.zscore(df.select_dtypes(include=[np.number])))

df_outliers = df[(z_scores > 3).any(axis=1)]

print(f"Found {len(df_outliers)} outliers:")
display(df_outliers)

Found 45 outliers:

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
25,34,Male,4.1,2.0,289,875,731,5.0,2.7,1.10,1
26,34,Male,4.1,2.0,289,875,731,5.0,2.7,1.10,1
27,34,Male,6.2,3.0,240,1680,850,7.2,4.0,1.20,1
47,40,Male,1.1,0.3,230,1630,960,4.9,2.8,1.30,1
77,68,Female,0.6,0.1,1620,95,127,4.6,2.1,0.80,1
115,50,Male,7.3,3.6,1580,88,64,5.6,2.3,0.60,2
116,48,Male,0.7,0.1,1630,74,149,5.3,2.0,0.60,1
117,32,Male,12.7,6.2,194,2000,2946,5.7,3.3,1.30,1
118,32,Male,15.9,7.0,280,1350,1600,5.6,2.8,1.00,1
119,32,Male,18.0,8.2,298,1250,1050,5.4,2.6,0.90,1
120,32,Male,23.0,11.3,300,482,275,7.1,3.5,0.90,1
121,32,Male,22.7,10.2,290,322,113,6.6,2.8,0.70,1
128,58,Female,1.7,0.8,1896,61,83,8.0,3.9,0.95,1
135,66,Male,11.3,5.6,1110,1250,4929,7.0,2.4,0.50,1
161,60,Male,11.5,5.0,1050,99,187,6.2,2.8,0.80,1
166,55,Male,75.0,3.6,332,40,66,6.2,2.5,0.60,1
168,60,Male,22.8,12.6,962,53,41,6.9,3.3,0.90,1
177,75,Male,14.8,9.0,1020,71,42,5.3,2.2,0.70,1
180,75,Male,2.8,1.3,250,23,29,2.7,0.9,0.50,1
181,75,Male,2.9,1.3,218,33,37,3.0,1.5,1.00,1
195,60,Male,2.4,1.0,1124,30,54,5.2,1.9,0.50,1
199,7,Female,27.2,11.8,1420,790,1050,6.1,2.0,0.40,1
207,40,Male,3.9,1.7,350,950,1500,6.7,3.8,1.30,1
233,33,Male,2.0,1.4,2110,48,89,6.2,3.0,0.90,1
259,42,Male,30.5,14.2,285,65,130,5.2,2.1,0.60,1
269,26,Male,0.6,0.1,110,15,20,2.8,1.6,1.30,1
311,54,Female,23.2,12.6,574,43,47,7.2,3.5,0.90,1
370,54,Female,22.6,11.4,558,30,37,7.8,3.4,0.80,1
419,55,Female,8.2,3.9,1350,52,65,6.7,2.9,0.70,1
420,55,Female,10.9,5.1,1350,48,57,6.4,2.3,0.50,1
429,73,Male,1.9,0.7,1750,102,141,5.5,2.0,0.50,1
447,45,Female,23.3,12.8,1550,425,511,7.7,3.5,0.80,1
452,58,Male,0.9,0.2,1100,25,36,7.1,3.5,0.90,1
479,33,Male,3.4,1.6,186,779,844,7.3,3.2,0.70,1
503,53,Male,19.8,10.4,238,39,221,8.1,2.5,0.40,1
504,32,Male,30.5,17.1,218,39,79,5.5,2.7,0.90,1
505,32,Male,32.6,14.1,219,95,235,5.8,3.1,1.10,1
509,46,Male,20.0,10.0,254,140,540,5.4,3.0,1.20,1
519,35,Male,26.3,12.1,108,168,630,9.2,2.0,0.30,1
531,40,Male,30.8,18.3,285,110,186,7.9,2.7,0.50,1
546,45,Male,20.2,11.7,188,47,32,5.4,2.3,0.70,1
547,50,Female,27.7,10.8,380,39,348,7.1,2.3,0.40,1
559,26,Male,42.8,19.7,390,75,138,7.5,2.6,0.50,1
565,43,Male,22.5,11.8,143,22,143,6.6,2.1,0.46,1
575,32,Male,25.0,13.7,560,41,88,7.9,2.5,2.50,1

In [4]:
# Imputing the missing values
if df['Albumin_and_Globulin_Ratio'].isna().any():
    med = df['Albumin_and_Globulin_Ratio'].median()
    df.loc[:, 'Albumin_and_Globulin_Ratio'] = df['Albumin_and_Globulin_Ratio'].fillna(med)

# Converting gender into numbers (Male = 1, Female = 0)
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

print("Nulls after imputation:\n", df.isnull().sum())
print("Gender mapping:", dict(zip(le.classes_, le.transform(le.classes_))))
print("Data shape now:", df.shape)

df.head()

Nulls after imputation:
 Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64
Gender mapping: {'Female': 0, 'Male': 1}
Data shape now: (583, 11)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [5]:
df = df.drop(index=df_outliers.index).reset_index(drop=True)
print("After outlier removal:", df.shape)

After outlier removal: (538, 11)

In [6]:
print(df.info())
print("\nMissing per column:\n", df.isnull().sum())

df.dropna(inplace=True)
print("\nAfter dropna, new shape:", df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538 entries, 0 to 537
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         538 non-null    int64
 1   Gender                      538 non-null    int32
 2   Total_Bilirubin             538 non-null    float64
 3   Direct_Bilirubin            538 non-null    float64
 4   Alkaline_Phosphotase        538 non-null    int64
 5   Alamine_Aminotransferase    538 non-null    int64
 6   Aspartate_Aminotransferase  538 non-null    int64
 7   Total_Protiens              538 non-null    float64
 8   Albumin                     538 non-null    float64
 9   Albumin_and_Globulin_Ratio  538 non-null    float64
 10  Dataset                     538 non-null    int64
dtypes: float64(5), int32(1), int64(5)
memory usage: 44.3 KB
None

Missing per column:
 Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

After dropna, new shape: (538, 11)

In [7]:
df.to_csv("../Data/indian_liver_patient_clean.csv", index=False)